<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" class="avatar" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="post">  <!-- 指定提交方法为 POST -->
        <label for="name">名字</label>
        <input type="text" name="name" id="name"><br>  <!-- 文本输入框 -->
        <label for="occupation">职业</label>
        <input type="text" name="occupation" id="occupation"><br>  <!-- 文本输入框 -->
        <input type="submit" name="submit" value="登录">  <!-- 提交按钮 -->
    </form>
</body>
</html>